/*
 * === Header style ===
 */

/* Header style */
header {
    
    border-bottom: 1px solid #ccc;
    height: 70px;
    width: 100%;
  }

  img {
    display: flex;
    width: 75px; height: 70px;
    margin-left: 10px;
  }